.footer {
    background-color: var(--bg-color-gray);
    color: var(--font-color-light);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    height: 290px;
}

.footer__ul {
    display: flex;
    flex-wrap: wrap;
}

.footer__li {
    width: 50%;
    margin-bottom: 10px;
}

.footer_content {
    max-width: 600px;
}