.landing {
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    height: 455px;
}

.landing__wrapper {
    padding: 90px 15px 0 15px;
}

.landing__content {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 10px;
    min-height: 16px;
}