.landing {
    background-size: cover;
    padding: 15px 15px 0 15px;
    margin: -15px -15px 24px -15px;
    height: 455px;
    position: relative;
}

.landing__over-lay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 15px 0 15px;
    margin: -15px 0 0 -15px;
    height: 455px;
}

.landing__title {
    margin-top: 90px;
}

.landing__content {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 10px;
    min-height: 16px;
}