.listing-item {
    margin-top: 15px;
    background-color: var(--bg-color-whitesmoke);
    color: var(--font-color-dark);
    border-radius: 3px;
    overflow-x: hidden;
    position: relative;
}

.listing-item__img-idx {
    position: absolute;
    z-index: 1;
    top: 63%;
    left: 3%;
}

.listing-item__image-wrapper {
    width: 100%;
    display: flex;
    transition: transform .5s ease-out;
}

.listing-item__image {
    height: 200px;
    background-size: cover;
    background-position: center;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.listing-item__arrow-wrapper {
    display: none;
}

.listing-item__tag {
    position: absolute;
    top: 0;
    background-color: var(--brand-green-color);
    width: fit-content;
    font-size: 15px;
    padding: 1px 3px;
    margin: 5px;
    border-radius: 10px;
}

.listing-item__info {
    padding: 5px;
}

.listing-item__price {
    font-weight: 600;
    font-size: 18px;
}