.nav {
    color: var(--font-color-dark);
}

.nav__auth {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.nav__ul {
    border-top: 1px solid var(--font-color-light);
}

.nav__button {
    display: block;
    width: 49%;
}

.nav__li {
    padding-top: 16px;
}

.nav--hide {
    display: none;
}