.promo {
    margin: 36px 15px;
}

.promo__img {
    height: 240px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

.promo__button {
    margin-top: 10px;
    background-color: var(--brand-green-color);
}

.promo__content {
    padding: 0 10px;
}