.rental-listings {
    position: relative;
}

.rental-listings__list {
    min-height: calc(100vh - 290px);
    padding: 90px 15px 0 15px;
}

.rental-listings__header {
    margin-top: 10px;
}

.rental-listings__filter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16px;
}

.rental-listings__filter-rent-wrapper {
    display: none;
    position: relative;
    z-index: 1;
}

.rental-listings__filter-rent-wrapper--show {
    display: block;
    animation: rentFilterShow 0.5s;
}

.rental-listings__filter-rent-wrapper--hide {
    display: block;
    animation: rentFilterHide 0.5s;
}

@keyframes rentFilterShow {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes rentFilterHide {
    0% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(0)
    }
}

.rental-listings__filter-rent {
    position: absolute;
    top: 1px;
    background-color: var(--bg-color-whitesmoke);
    color: var(--font-color-dark);
    padding: 5px;
    border: 1px solid var(--font-color-dark);
    border-radius: 3px;
}

.rental-listings__rent-input {
    width: 76px;
    margin: 0 3px;
}

.rental-listings__filter-option {
    display: flex;
    justify-content: space-between;
}

.rental-listings__filter-button {
    background-color: transparent;
    color: #ffffff;
}

.rental-listings__filter-button-green {
    background-color: var(--brand-green-color);
    color: var(--font-color-dark);
}

.rental-listings__filter-button-rent {
    background-color: var(--brand-green-color);
    color: var(--font-color-dark);
    margin-left: 10px;
}

.rental-listings__filter-error {
    display: none;
}

.rental-listings__filter-error--show {
    display: block;
}

.rental-listings__map-mobile {
    display: flex;
    height: calc(100vh - 186px);
    margin: 15px 0;
}

.rental-listings__map-mobile--hide {
    display: none;
}

.rental-listings__dt-map {
    display: none;
}

ul.rental-listings__ul {
    flex-direction: column;
    margin-top: 15px;
}

.rental-listings__li {
    margin-bottom: 10px;
}

.rental-listings__map-button {
    position: fixed;
    top: 93%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--brand-green-color);
}

.rental-listings__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    overflow: auto;
    overscroll-behavior: contain;
}

.rental-listings__modal-wrapper {
    margin: 90px 15px 15px 15px;
}