.rental-form {
    display: flex;
    flex-direction: column;
}

.rental-form__input {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.rental-form__edit-button {
    width: 50px;
}

.rental-form__textarea {
    height: 120px;
}

.rental-form__image-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #767676;
    border-radius: 3px;
    padding: 5px;
}

.rental-form__image-padding {
    width: 100%;
}

.rental-form__image {
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    padding: 8px;
}

.rental-form__image--no-padding {
    padding: 0;
}

.rental-form__image-overlay {
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
}

.rental-form__image-overlay--white-out {
    background-color: rgb(255, 255, 255, 0.7);
}

.rental-form__image-tag {
    background-color: var(--brand-green-color);
    border-radius: 3px;
    height: fit-content;
    padding: 0 3px;
}

.rental-form__remove-image {
    background-color: var(--brand-green-color);
    border-radius: 20px;
    height: 22px;
    border: 2px solid;
    margin-left: auto;
}

.rental-form__remove-image--selected {
    background-color: var(--warning-red);
}

.rental-form__add-image {
    color: var(--brand-green-color);
}

.rental-form__button {
    margin-top: 7px;
}

.rental-form__button--submit {
    background-color: var(--brand-green-color);
}