.rental-listings__list {
    min-height: calc(100vh - 290px);
    padding: 90px 15px 15px 15px;
}

.rental-listings__header {
    padding-top: 10px;
}

.rental-listings__filter {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 16px;
}

.rental-listings__filter-rent-wrapper {
    display: none;
    margin-top: 10px;
}

.rental-listings__filter-rent-wrapper--show {
    display: block;
    animation: rentFilterShow 0.5s;
}

.rental-listings__filter-rent-wrapper--hide {
    display: block;
    animation: rentFilterHide 0.5s;
}

@keyframes rentFilterShow {
    from {
        height: 0px;
        margin-top: 0;
    }
    to {
        margin-top: 10px;
        height: 30px;
    }
}

@keyframes rentFilterHide {
    from {
        margin-top: 10px;
        height: 30px;
    }
    to {
        height: 0px;
        margin-top: 0;
    }
}

.rental-listings__filter-rent {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.rental-listings__rent-input {
    width: 76px;
}

.rental-listings__filter-option {
    display: flex;
    justify-content: space-between;
}

.rental-listings__filter-button {
    background-color: transparent;
    color: #ffffff;
}

.rental-listings__filter-button-green {
    background-color: var(--brand-green-color);
    color: var(--font-color-dark);
}

.rental-listings__filter-button-rent {
    background-color: var(--brand-green-color);
    color: var(--font-color-dark);
    margin-left: 10px;
}

.rental-listings__filter-error {
    display: none;
}

.rental-listings__filter-error--show {
    display: block;
}

.rental-listings__map-mobile {
    display: flex;
    height: calc(100vh - 186px);
}

.rental-listings__map-mobile--hide {
    display: none;
}

.rental-listings__dt-map {
    display: none;
}

.rental-listings__ul {
    flex-direction: column;
}

.rental-listings__map-button {
    position: fixed;
    top: 93%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--brand-green-color);
}