.rental-listings {
    padding: 90px 15px 15px 15px;
}

.rental-listings__header {
    padding-top: 10px;
}

.rental-listings__dt-map {
    display: none;
}

.rental-listings__ul {
    flex-direction: column;
}

.rental-listings__map-button {
    position: fixed;
    top: 93%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: var(--brand-green-color);
}