.sign-in {
    display: flex;
    flex-direction: column;
}

.sign-in__form {
    display: flex;
    flex-direction: column;
}

.sign-in__input {
    margin-bottom: 10px;
}

.sign-in__button {
    width: 50%;
    margin-bottom: 10px;
}

.sign-in__resend {
    font-size: 14px;
    width: fit-content;
}

.sign-in--show {
    animation-duration: 0.5s;
    animation-name: slideUp;
}

@keyframes slideUp {
    from {
        margin-top: 155px;
    }

    to {
        margin-top: 0;
    }
}