.sign-up {
    display: flex;
    flex-direction: column;
}

.sign-up__form {
    display: flex;
    flex-direction: column;
}

.sign-up__input {
    margin-bottom: 10px;
}

.sign-up__button {
    width: 50%;
    margin-bottom: 10px;
}

.sign-up--show {
    animation-duration: 0.5s;
    animation-name: signUpSlideUp;
}

@keyframes signUpSlideUp {
    from {
        margin-top: 48px;
    }

    to {
        margin-top: 0;
    }
}