.sign-in-page {
    padding: 90px 15px 15px 15px;
}

.sign-in-page__tab {
    margin-bottom: 10px;
}

.sign-in-page__tab > span {
    cursor: pointer;
}

.sign-in-page--selected {
    color: var(--brand-green-color);
}