@media only screen and (min-width: 768px) {
    .listing-item {
        cursor: pointer;
    }

    .listing-item--selected {
        box-shadow: 0 0 0 7px var(--brand-green-color);
    }

    .listing-item__image-wrapper {
        overflow-x: hidden;
    }

    .listing-item__image {
        height: 300px;
    }

    .listing-item__arrow-wrapper {
        display: block;
        position: absolute;
        z-index: 1;
        top: 34%;
        display: flex;
        justify-content: space-between;
        width: 96%;
        left: 2%;
    }

    .listing-item__arrow {
        background-color: transparent;
        border: none;
        color: var(--brand-green-color);
        font-size: 27px;
    }

    .listing-item__arrow:focus {
        outline: none; 
    }

    .listing-item__img-idx {
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 3%;
    }
}