@media only screen and (min-width: 768px) {
    .rental-listing {
        max-width: 1250px;
        margin: 0 auto;
        padding-top: 90px;
    }

    .rental-listing__image-slide {
        display: none;
    }

    .rental-listing__info-wrapper {
        display: flex;
        margin-top: 40px;
        height: 200px;
    }

    .rental-listing__info {
        width: 100%;
        max-width: 520px;
        font-size: 20px;
        margin-right: 15px;
    }

    .rental-listing__map-wrapper {
        display: block;
        width: 100%;
    }

    .rental-listing__details {
        justify-content: space-between;
        margin: 40px 0 0 0;
    }

    .rental-listing__detail {
        margin: 0;
    }

    div:first-of-type.rental-listing__detail {
        margin: 0;
    }

    .rental-listing__mobile-map-wrapper {
        display: none;
    }
}